#AnswerPage {
  text-align: center;
}

#AnswerPage > #ok{
  padding: 10px 60px;
  border-radius: 40px;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  transition: all 0.05s ease-in-out;
}

#AnswerPage > #ok:hover{
  background-color: #3399CC;
  border-color: #3399CC;
  color: #f9f9f9;
  font-weight: bold;
  outline: 0; 
}

#AnswerPage > p{
  font-size: x-large;
}
