#FinishPage {
  text-align: center;
}

#announce {
  font-size: 2rem;
}
#score {
  font-size: 3rem;
}

#back_home_button{
  padding: 10px 60px;
  border-radius: 40px;
  color: black;
  background-color: white;
  border: 1px solid black;
}

#back_home_button:hover{
  background-color: #3399CC;
  border-color: #3399CC;
  color: #f9f9f9;
  font-weight: bold;
  outline: 0; 
}
