#QuestionPage > h2{
    text-align: center;
}

#QuestionPage > #subject{
    height: 7vh;
}

#QuestionPage > .answer{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 24px;
    height: 60px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: white;
    color: black;
    border: 0 none;
    border-radius: 1px;
    border-top: 1px solid black;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.05s ease-in-out;
}

#QuestionPage > .answer:hover{
    background-color: #3399CC;
    border-color: #3399CC;
    color: #f9f9f9;
    font-weight: bold;
    outline: 0;
}

#QuestionPage > #last{
    border-bottom: 1px solid black;
}