#choices{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#choices > div > button{
    height: 80px;
    text-align: center;
    font-size: 30px;
    padding: 0px 60px;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

#choices > div > button:hover{
    background-color: #3399CC;
    border-color: #3399CC;
    color: #f9f9f9;
    font-weight: bold;
    outline: 0;
  }